body{
    margin:0;
    
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 200px;
    margin-right: 200px;
    
    
    
  
  }
  .item {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    margin-bottom: 25px;
    
  
  }
  .item:hover{
    transition: 0.5s all;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
  }
  .item img{
    width: 180px;
    height: 180px;
    padding: 5px;
  }
  .item_title{
    justify-content: space-between;
    background-color: white;
    color:#e68e3c;
    padding: 5px;
    height: 100px;
  }
  .item_price{
    color:#e68e3c;
    font-size: 18px;
    padding: 5px;
  }
  .content a {
    text-decoration: none;
  }
  .itemContainer .item_image{
    width: 200px;
  }
  .itemContainer {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    width: 3000%;
    padding: 40px 20px;
  }
  .category-wrapper {
    padding: 25px;
  }
  